html, body{
color: #4d260c !important;
margin:0px;
padding:0px;
height:100%;
overflow:hidden;
}	

.inputdemoErrorsAdvanced {
    /* NOTE: Check the demo's HTML to see some additional RTL support CSS */
    /* Setup animations similar to the ng-messages */
}

    .inputdemoErrorsAdvanced .hint {
        /* Position the hint */
        position: absolute;
        left: 2px;
        right: auto;
        bottom: 7px;
        /* Copy styles from ng-messages */
        font-size: 12px;
        line-height: 14px;
        transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
        /* Set our own color */
        color: grey;
    }

        .inputdemoErrorsAdvanced .hint.ng-hide,
        .inputdemoErrorsAdvanced .hint.ng-enter,
        .inputdemoErrorsAdvanced .hint.ng-leave.ng-leave-active {
            bottom: 26px;
            opacity: 0;
        }

            .inputdemoErrorsAdvanced .hint.ng-leave,
            .inputdemoErrorsAdvanced .hint.ng-enter.ng-enter-active {
                bottom: 7px;
                opacity: 1;
            }
            
.docs-menu{
    border: solid 1pt orange;
}
.inset{
    cursor: pointer;
    border:solid 1pt orange;
}
$gray: #eee;

md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}
.user-avatar {
  border-radius: 99%;
}