@model DentApp.Application.ViewModels.LoginViewModel
<form asp-controller="Account" asp-action="Login" method="post" class="u-full-width" role="form">
    <div>
        <div asp-validation-summary="All"></div>
        <div>            
            @Html.TextBoxFor(model => model.LoginBag.UserName)
        </div>
        <input type="hidden" id="ReturnUrl" asp-for="ReturnUrl" />
        <div>
            @Html.PasswordFor(model => model.LoginBag.Password)
        </div>
        <div>
            @Html.CheckBoxFor(model => model.RemindMe)
        </div>
        <div>
            <div>
                <input type="submit" value="Login" class="button-primary" />
            </div>
        </div>
    </div>
</form>